In [1]:
import spacy
import pandas as pd
import matplotlib.pyplot as plt
import numpy

In [2]:
nlp = spacy.load('en_core_web_sm')

In [3]:
data = pd.read_csv(r'C:\Users\Hp\Downloads\archive\SPAM text message 20170820 - Data.csv')
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [5]:
data['Category'].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [7]:
ham = data[data['Category'] == 'ham']
ham.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
6      ham  Even my brother is not like to speak with me. ...

In [13]:
spam = data[data['Category']=='spam']
spam.head()

   Category                                            Message
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
5      spam  FreeMsg Hey there darling it's been 3 week's n...
8      spam  WINNER!! As a valued network customer you have...
9      spam  Had your mobile 11 months or more? U R entitle...
11     spam  SIX chances to win CASH! From 100 to 20,000 po...

In [14]:
data = ham.sample(750)
data.head()

     Category                                            Message
180       ham  Hi! You just spoke to MANEESHA V. We'd like to...
3683      ham  Hello, hello, hi lou sorry it took so long 2 r...
1323      ham                 Oh just getting even with u.... u?
4084      ham  Good afternoon, my love. It was good to see yo...
5394      ham          I dont know exactly could you ask chechi.

In [15]:
data.shape

(750, 2)

In [17]:
data = data.append(spam)
data.tail()

     Category                                            Message
5537     spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540     spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547     spam  Had your contract mobile 11 Mnths? Latest Moto...
5566     spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567     spam  This is the 2nd time we have tried 2 contact u...

In [18]:
##Train the mode

In [19]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(data['Message'],data['Category'],test_size=0.25,shuffle=True)

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.feature_extraction.text import TfidfVectorizer

In [28]:
vectorizer = TfidfVectorizer()

In [29]:
X_train = vectorizer.fit_transform(x_train)

In [30]:
X_train

<1122x3984 sparse matrix of type '<class 'numpy.float64'>'
	with 19064 stored elements in Compressed Sparse Row format>

In [31]:
X_train.shape

(1122, 3984)

In [32]:
clf = Pipeline([('tfidf',TfidfVectorizer()),('randomforest',RandomForestClassifier(n_estimators=80))])

In [33]:
clf.fit(x_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('randomforest', RandomForestClassifier(n_estimators=80))])

In [34]:
y_pred = clf.predict(x_test)

In [35]:
accuracy_score(y_test,y_pred)

0.9546666666666667

In [45]:
text = clf.predict(["Congarts! You are selected for the job role, we see your profile in linkedin.submit your resume in the following link www.dark.com"])
print(text)

['spam']

In [40]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         ham       0.91      0.99      0.95       168
        spam       0.99      0.92      0.96       207

    accuracy                           0.95       375
   macro avg       0.95      0.96      0.95       375
weighted avg       0.96      0.95      0.95       375

In [41]:
confusion_matrix(y_test,y_pred)

array([[167,   1],
       [ 16, 191]], dtype=int64)

In [48]:
text1 = clf.predict(["Can I Call you later"])
text1[0]

'ham'